@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}
* {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
}
/* Hero section */
.hero-sections {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.css-4stksi,
.css-kcj133 {
  background: none;
  border: none;
}
.rdrCalendarWrapper {
  width: inherit;
}
.rdrCalendarWrapper,
.rdrDateDisplayWrapper {
  background: none !important;
  background-color: #565656 !important;
  border-radius: 30px;
}
.rdrDateDisplayWrapper {
  display: none;
}
.rdrMonthName {
  display: flex;
  justify-content: center;
}
.rdrMonthName,
.rdrWeekDay {
  color: #ffffff !important;
}

.my-calendaer {
  margin: 10px !important;
  overflow: visible !important;
}
.my-calendaer div,
.my-calendaer div div {
  padding: 6px 20px !important;
}
.rdrPprevButton,
.rdrNextButton {
  position: relative !important;
  top: 40px !important;
  background: none !important;
}
.rdrPprevButton i {
  border-width: 8px 14px 8px 0px !important;
  border-color: transparent #ffffff transparent transparent !important;
}

.rdrNextButton i {
  border-width: 8px 0px 8px 14px !important;
  border-color: transparent transparent transparent #ffffff !important;
}
.rdrMonthAndYearPickers {
  display: none !important;
}
.rdrDay span.rdrStartEdge,
.rdrDay span.rdrEndEdge,
.rdrDay span.rdrInRange,
.rdrDay span.rdrSelected {
  all: unset !important;
}

.rdrDay:has(span.rdrStartEdge),
.rdrDay:has(span.rdrEndEdge),
.rdrDay:has(span.rdrInRange),
.rdrDay:has(span.rdrSelected) {
  background: #d1ab71 !important;
  border-radius: 5px !important;
  padding: 24px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.rdrDay {
  width: 50px !important;
  height: 50px !important;
  background: #d6cdc2 !important;
  border-radius: 5px !important;
  margin: 10px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.rdrDay.rdrDayPassive {
  visibility: hidden !important;
}

.rdrDayNumber span::after {
  content: none !important;
  display: none !important;
}
.css-vc259f {
  background: transparent;
}

.rdrDay:has(.rdrStartEdge),
.rdrDay:has(.rdrEndEdge) {
  border: 1px solid #ffefd6 !important;
}
.rdrDay:has(.rdrStartEdge) .rdrDayNumber span,
.rdrDay:has(.rdrEndEdge) .rdrDayNumber span {
  z-index: 100 !important;
  color: #d1ab71 !important;
}
.rdrDay:has(span.rdrStartEdge)::before,
.rdrDay:has(span.rdrEndEdge)::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 34px 34px 0 0;
  border-radius: 5px 0 5px 0;
  transform: rotate(-45deg);
}

.rdrDay:has(span.rdrEndEdge)::before {
  border-color: #ffffff transparent transparent transparent;
  left: 15%;
}

.rdrDay:has(span.rdrStartEdge)::before {
  border-color: transparent #ffffff transparent transparent;
  right: 15%;
}

.rdrDay:has(span.rdrStartEdge)::after,
.rdrDay:has(span.rdrEndEdge)::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 26px;
  background-color: #ffffff;
  transform: rotate(90deg);
  border-radius: 5px;
}

.rdrDay:has(span.rdrEndEdge)::after {
  left: 22%;
}

.rdrDay:has(span.rdrStartEdge)::after {
  right: 22%;
}
.rdrDayDisabled .rdrDayNumber span {
  text-decoration: line-through;
}

.slider-container {
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.css-1n8vdx0 {
  align-items: center;
}
